@import "../../styles/abstract/variables";

$model_width: 562px;

.model.show {
    right: 0;
}
.model.hide {
    right: -($model_width);
}
.model {
    top: 0;
    width: $model_width;
    height: 100vh;
    position: fixed;
    transition: all 0.2s ease-out;
    box-shadow: -12px 0px 15px -3px rgba(0,0,0,0.1);
    background-color: #fff;
    .model__side {
        .close {
            display: flex;
            justify-content: flex-end;
            padding: 20px 28px;
            margin-left: auto;
            svg {
                cursor: pointer;
            }
        }
    }
}
