@import "../../styles/base/functions.scss";
@import "../../styles/abstract/variables.scss";

.chip {
  font-family: $secondary-font-family;
}
.green {
  background: $green !important;
}

.skyblue {
  background-color: $sky-blue !important;
}

.lightbrown {
  background-color: $light-brown !important;
}
.lightred {
  background-color: $light-red !important;
}
